<div class="full-content">
  <form class="row">
    <mat-form-field class="col-md-6 col-sm-6" floatLabel="never">
      <mat-icon matPrefix class="mr-8">search</mat-icon>
      <input
        class="w-100"
        type="search"
        id="searchCharacters"
        matInput
        [formControl]="searchControl"
        placeholder="Search"
      >
    </mat-form-field>
  </form>
  <div class="content-grid">
    <div class="grid-base grid-6">
      <div class="mvl-card mvl-card-explore" *ngFor="let character of characters$ | async" >
        <a href="" class="explore-link">
          <div class="card-thumb-frame">
            <figure class="img-wrapper">
              <img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="" class="card-thumb-frame-thumbnail img-blur">
            </figure>
          </div>
          <div class="card-body is-sliding">
            <p class="card-body-headline">{{character.name}}</p>
            <div class="card-footer">
              <p class="card-footer-secondary-text">{{character.modified | date: 'dd/MM/yyyy'}}</p>
              <p class="card-footer-micro-description"></p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
